.sportsbook{
    display: flex;
    justify-content: center;
    app-matches-list{
        width: 70%;
    }
    app-ticket{
        width: 30%;
    }
    
    @media screen and (max-width: 1430px) {
        flex-direction: column;
        
        app-matches-list{
            width: 100%;
        }
        app-ticket{
            width: 100%;
            display: flex;
        }
    }
}