$green: #01AC2D; 
$dark1: rgba(29,35,41,255);

.modal{
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.657);

    &__log-in, &__register{
        background-color: $dark1;
        position: fixed;
        z-index: 2;
        left: 50%;
        transform: translate(-50%);
        top: 40%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        border: 2px dashed $green;

        &__header{
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 2px;
            word-spacing: 5px;
        }

        &__form{
            margin: 10px;
            display: flex;
            flex-direction: column;
            &__username-input, &__email-input, &__password-input{
                padding: 6px 17px;
                border-radius: 8px;
                border: none;
                margin: 4px 0px;
                font-size: 18px;

                &:focus{
                    border: none;
                    outline: none;
                }
            }

            &__username-validity{
                font-size: 15px;
                font-style: italic;
            }

            &__btn-wrapper{
                display: flex;
                justify-content: space-between;

                &__submit{
                    background-color: $green;
                    color: white;
                    padding: 7px 13px;
                    border-radius: 10px;
                    cursor: pointer;
                    &:focus{
                        border: none;
                        outline: none;
                    }

                    &:disabled{
                        background-color: red;
                    }
                }

                &__cancel{
                    background-color: gray;
                    color: white;
                    padding: 7px 13px;
                    border-radius: 10px;
                    cursor: pointer;
                    &:focus{
                        border: none;
                        outline: none;
                    }
                }
            }
        }
    }
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}
