<div class="modal" *ngIf='display'>
    <div class='modal__log-in' *ngIf='action === "log in"; else register'>
        <div class="modal__log-in__header">
            LOG IN
        </div>

        <form class="modal__log-in__form" (ngSubmit)='onLogin(logInForm)' #logInForm='ngForm'>
            <label for='name' class="modal__log-in__form__username">USERNAME:</label>
            <input #username='ngModel' required id='username' name='username' type="text" maxlength="15" class="modal__log-in__form__username-input" ngModel>
            <div class="modal__log-in__form__username-validity" *ngIf='!username.valid && username.touched'>Please Input username</div>
            <br>
            
            <label for='email' class="modal__log-in__form__email">EMAIL:</label>
            <input required email id='email' #email='ngModel' name='email' type="email" class="modal__log-in__form__email-input" ngModel>
            <div class="modal__log-in__form__username-validity" *ngIf='!email.valid && email.touched'>Please Input Valid email</div>
            <br>
            
            <label for='passwod' class="modal__log-in__form__password">PASSWORD</label>
            <input required id='passwod' #password='ngModel' name='password' type="password" class="modal__log-in__form__password-input" ngModel>
            <div class="modal__log-in__form__username-validity" *ngIf='!password.valid && password.touched'>Please Input Password</div>
            <br>

            <div class='modal__log-in__form__btn-wrapper'>
                <button
                (click)='onCancelModal("log in")'
                class='modal__log-in__form__btn-wrapper__cancel'>Cancel
                </button>

                <button
                [disabled]='!logInForm.valid'
                type='submit'
                class='modal__log-in__form__btn-wrapper__submit'>Log In</button>
            </div>
        </form>
    </div>
<!-- split into components -->
    <ng-template #register>

        <div class="modal__register">
            <form class="modal__register__form" (ngSubmit)='onRegister(registerForm)' #registerForm='ngForm'>
                <label for='name' class="modal____form__username">USERNAME:</label>
                <input #username='ngModel' required id='username' name='username' type="text" maxlength="15" class="modal__log-in__form__username-input" ngModel>
                <div class="modal__log-in__form__username-validity" *ngIf='!username.valid && username.touched'>Please Input username</div>
                <br>
                
                <label for='email' class="modal__log-in__form__email">EMAIL:</label>
                <input required email id='email' #email='ngModel' name='email' type="email" class="modal__log-in__form__email-input" ngModel>
                <div class="modal__log-in__form__email-validity" *ngIf='!email.valid && email.touched'>Please Input Valid email</div>
                <br>
                
                <label for='passwod1' class="modal__log-in__form__password">PASSWORD</label>
                <input required id='passwod1' #password1='ngModel' name='password1' type="text" class="modal__log-in__form__password-input" ngModel>
                <div class="modal__log-in__form__password1-validity" *ngIf='!password1.valid && password1.touched'>Please Input Password</div>
                <br>
                <label for='passwod2' class="modal__log-in__form__password">REPEAT PASSWORD</label>
                <input required id='passwod2' #password2='ngModel' name='password2' type="text" class="modal__log-in__form__password-input" ngModel>
                <div class="modal__log-in__form__password2-validity" *ngIf='!password2.valid && password2.touched || password2.touched && password1.value!==password2.value'>Your Passwords Don't Match</div>
                <br>
    
                <div class='modal__log-in__form__btn-wrapper'>
                    <button
                    (click)='onCancelModal("register")'
                    class='modal__log-in__form__btn-wrapper__cancel'>Cancel
                    </button>
    
                    <button
                    [disabled]='!registerForm.valid'
                    type='submit'
                    class='modal__log-in__form__btn-wrapper__submit'>Register
                    </button>
                </div>
            </form>
        </div>
    </ng-template>
</div>

<app-message></app-message>

