<ul class='navbar'>
    <li class='navbar__item logo'><a routerLink='/' ><img class='navbar__item__logo' src="./assets/pictures/logo.png" alt="adjaradet"></a></li>
    <li class='navbar__item sports'><a appHighlight [defaultColor]='betsQuantity' routerLink='/betsHistory' class=''>MY BETS({{betsQuantity}})</a></li>
    <li class='navbar__item my-bets'><a routerLink='/sportsbook/NBA' class='navbar__item__link' >SPORTS</a></li>
    <ul class='navbar__item__account'>
        <li><button (click)='onOpenModal("log in")' class='navbar__item__account__log-in'>Log in</button></li>
        <li><button (click)='onOpenModal("register")' class='navbar__item__account__register'>Register</button></li>
        <li><button (click)='logOut()' class='navbar__item__account__log-out'>Log out</button></li>
        <li><a routerLink='/account-info' class='navbar__item__account__info'>Account</a></li>
        
        <div class="navbar__item__account__dropdown">
          <span class="navbar__item__account__dropdown__name">ACCOUNT<img src="/assets/icons/dropdown.png" alt="dropdown"></span>
          <div class="navbar__item__account__dropdown__dropdown-content">
            <button (click)='onOpenModal("log in")' class='navbar__item__account__dropdown__dropdown-content__item'>Log In</button>
            <button (click)='onOpenModal("register")' class='navbar__item__account__dropdown__dropdown-content__item'>Register</button>
            <button (click)='logOut()' class='navbar__item__account__dropdown__dropdown-content__item'>Log Out</button>
            <a routerLink='/account-info' class='navbar__item__account__dropdown__dropdown-content__item'>Account</a>
            
          </div>
        </div>
    </ul>  

    
</ul>

<app-log-in></app-log-in>

