<ul class='navbar'>
    <li class='navbar__item logo'><a routerLink='/' ><img class='navbar__item__logo' src="assets/pictures/logo.png" alt="adjaradet"></a></li>
    <li class='navbar__item mini-logo'><a routerLink='/' ><img class='navbar__item__mini-logo' src="assets/icons/mini-logo.png" alt="adjaradet"></a></li>
    <li *ngIf="account" class='navbar__item sports'><a class='navbar__item__link' routerLink='/betsHistory'>MY BETS({{betsQuantity}})</a></li>
    <li class='navbar__item my-bets'><a routerLink='/sportsbook/NBA' class='navbar__item__link'>SPORTS</a></li>
    <ul class='navbar__item__account'>
      <ng-container *ngIf="!(account | json)">
        <li><button (click)='onOpenModal("log in")' class='navbar__item__account__log-in'>Log in</button></li>
        <li><button (click)='onOpenModal("register")' class='navbar__item__account__register'>Register</button></li>
      </ng-container>
      <ng-container *ngIf="(account | json)">
        <li><div class='navbar__item__account__balance'>Balance: {{this.account?.balance}}$</div></li>
        <li><button (click)='onLogOut()' class='navbar__item__account__log-out'>Log out</button></li>
        <li><button routerLink='/account-info' class='navbar__item__account__info'>Account</button></li>
      </ng-container>
        
        <div class="navbar__item__account__dropdown">
          <span class="navbar__item__account__dropdown__name">ACCOUNT<img src="assets/icons/dropdown.png" alt="dropdown"></span>
          <div class="navbar__item__account__dropdown__dropdown-content">

            <ng-container *ngIf="!(account | json)">
              <button (click)='onOpenModal(modalPurpose.login)' class='navbar__item__account__dropdown__dropdown-content__item'>Log In</button>
              <button (click)='onOpenModal(modalPurpose.register)' class='navbar__item__account__dropdown__dropdown-content__item'>Register</button>
            </ng-container>
            <ng-container *ngIf="(account | json)">
              <button (click)='onLogOut()' class='navbar__item__account__dropdown__dropdown-content__item  navbar__item__account__dropdown__dropdown-content__item--log-out' >Log Out</button>
              <button routerLink='/account-info' class='navbar__item__account__dropdown__dropdown-content__item'>Account</button>
            </ng-container>
          </div>
        </div>
    </ul>  
</ul>
<app-modal></app-modal>

<app-message *ngIf='showMessage' [messageData]='messageData'></app-message>

