$dark1: rgba(29,35,41,255);
$green: #01AC2D; 

.navbar{
    background-color: $dark1; 
    display: flex;
    align-items: center;
    padding: 10px 80px;
    
    @media screen and (max-width: 1150px) {
        padding: 6px 10px;
    }
    @media screen and (max-width: 0px) {
    }

    .logo{
        @media screen and (max-width: 650px) {
            order: 1;
        }   
        @media screen and (max-width: 390px) {
            display: none;
        }
    }
    
    .mini-logo{
       display: block;
        padding: auto;
        @media screen and (min-width: 391px) {
            display: none;
        }
    }

    .my-bets{
        order: 3;
    }
    .sports{
        order: 2;
    }

    &__item{
        font-weight: bold;
        margin: 0px 15px;
        font-size: 17px;
        @media screen and (max-width: 1000px) {
            font-size: 14px;
        }
        @media screen and (max-width: 650px) {
            margin: auto;
        }
        @media screen and (max-width: 450px) {
            font-size: 11px;
        }    

        &__link{
            transition: color 0.3s;
            &:hover{
                color: #ccc;
            }
        }
        
        &__logo{
            width: 250px;
            margin-top: 4px;
            @media screen and (max-width: 1150px) {
                width: 200px;
            }
            @media screen and (max-width: 1000px) {
                width: 160px;
            }
            @media screen and (max-width: 900px) {
                width: 130px;
            }
        }
        &__mini-logo{
            width: 25px;
            margin-top: 2px;
        }

        &__account{
            margin-left: auto;
            display: flex;
            order: 4;
            align-items: center;

            &__balance{
                font-weight: bold;
                margin-right: 10px;
                color: $green;
                text-decoration: underline;
                @media screen and (max-width: 700px) {
                    display: none;
                }
            }
            
            &__dropdown {
                cursor: pointer;
                text-decoration: underline;
                
                @media screen and (min-width: 650px) {
                    display: none;
                }
                
                &__name{
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    font-size: 14px;
                    @media screen and (max-width: 450px) {
                        font-size: 11px;
                    }    
                    
                    img{
                        width: 20px;
                    }
                }
                
                &:hover &__dropdown-content {
                    display: block;
                }
                
                &__dropdown-content {
                    border-radius: 3px;
                    display: none;
                    position: absolute; 
                    background-color: $dark1;
                    padding-top: 5px;
                    z-index: 1;
                    
                    &__item{
                        padding: 8px 0px;
                        text-align: center;
                        width: 100%;
                        transition-duration: 0.3s;
                        background-color: $dark1;
                        color: white;
                        outline: none;
                        border: none;
                        display: block;
                        padding: 5px 15px;
                        cursor: pointer;

                        @media screen and (max-width: 450px) {
                            font-size: 11px;
                            margin: 3px 0px;
                            padding: 5px 10px;
                        }    

                        &:hover{
                            color: $green
                        }

                        &--log-out{
                            &:hover{
                                color: red;
                            }
                        }
                    }
                }
            }
            
            &__log-in, &__register, &__log-out, &__info{

                cursor: pointer;
                font-weight: bold;
                color: white;
                background-color: $green;
                outline: none;
                border: none;
                padding: 10px 15px;
                border-radius: 5px;
                display: flex;
                justify-self: flex-end;
                margin: 0px 15px;
                
                @media screen and (max-width: 1150px) {
                    padding: 8px 13px;
                    font-size: 15px;
                }
                @media screen and (max-width: 900px) {
                    padding: 6px 11px;
                    font-size: 14px;
                    margin: 0px 7px;
                }
                @media screen and (max-width: 650px) {
                    display: none;
                }

            }

            &__register, &__info{
                background-color: #323d49;
            }
            &__log-out{
                background-color: red;
            }
        }
    }
}
