.ticket{
    padding: 30px;
    padding-top: 60px;
    width: 100%;
    height: 100%;
    max-width: 550px;
    margin: 0px auto;
    
    &__container{
        background-color: white;
        border-radius: 10px;

        &__header{
            padding: 10px;
            text-align: center;
            color: black;
            font-size: 20px;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-items: space-around;
            color: black;

            &__matches{
                margin: 5px -10px;
                padding: 5px 5px 0px 5px;
                line-height: 30px;
                color: black;
                border-top: 1px solid black;
                border-bottom: 1px solid black;

                &__data{
                    color: black;
                    border-bottom: 1px solid #aaa;
                }
            }
        }
    }
}
