<div class="info">
    <div class="info__header">
        YOUR ACCOUNT INFO
    </div>

    <div class="info__email">
        email: {{account?.email}}
    </div>
    <div class="info__password">password: 
        <input class='info__password__input' [value]='account?.password' type="password" readonly="readonly" #password >
        <button class='info__password__toggle-visibility' (click)="toggleVisibility()">
            <img *ngIf='password.type !== "password"; else visible' src="assets/icons/visible.png" alt="visible">
            <ng-template #visible>
                <img  src="assets/icons/not-visible.png" alt="invisible">
            </ng-template>
        </button>
    </div>

    <div class="info__balance">balance: {{account?.balance}}$</div>
    <div class="info__input-label">Input money on your account:</div>
    <div class="info__wrapper">
        <input class='info__wrapper__input-balance' min='0' max='2000' placeholder="$" #moneyAmount type="number"> 
        <button class='info__wrapper__input-submit' (click)='addMoney(moneyAmount)'>submit</button>
    </div>
</div>

